# Go
bin/
*.exe
*.test

# Node / Astro
node_modules/
frontend/dist/
frontend/.astro/

# Environment secrets
.env
.env.local
*.pem

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Certbot / SSL
nginx/certs/
certbot/

# Logs
*.log

secrets/
.env.*
!.env.example

aps_app/**/bin/
aps_app/**/obj/
aps_app/**/*.zip


.cache/
